@mixin alert-variant($background, $border, $color, $shadow: true) {
  color: $color;
  @include gradient-bg($background);
  border-color: $border;
  box-shadow: none;

  hr {
    border-top-color: darken($border, 5%);
  }

  .alert-link {
    color: darken($color, 10%);
  }
}
